[submodule "external/libs/glfw"]
	path = external/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/libs/assimp"]
	path = external/libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/libs/imgui"]
	path = external/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/data/yurt"]
	path = external/data/yurt
	url = https://github.com/kutaycoskuner/yurt.git
