[submodule "libs_glfw"]
	path = external/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs_assimp"]
	path = external/libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs_imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "data_yurt"]
	path = external/data/yurt
	url = https://github.com/kutaycoskuner/yurt.git
